.boldtext {
    font-weight:bold;    
}

h2 {
    color: white;
    background-color:black;
    text-align: center;
    padding: 15px;
}

.blocks {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: beige;
}